inst/extdata/schemas/excessmortality.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="excessmortality">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="unittype" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="1" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="parametertype" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Acutely Fatal" />
              <xs:enumeration value="Cured Fraction" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
		  <xs:element name="mortalities"  minOccurs="1" maxOccurs="1">
		    <xs:complexType>
		      <xs:sequence>
		        <xs:element minOccurs="192" maxOccurs="192" name="mortality">
		          <xs:complexType>
		            <xs:sequence>
		              <xs:element name="age">
		                <xs:simpleType>
		                  <xs:restriction base="xs:int">
		                    <xs:minInclusive value="0" />
		                    <xs:maxInclusive value="95" />
		                  </xs:restriction>
		                </xs:simpleType>
		              </xs:element>
		              <xs:element name="sex">
		                <xs:simpleType>
		                  <xs:restriction base="xs:int">
		                    <xs:minInclusive value="0" />
		                    <xs:maxInclusive value="1" />
		                  </xs:restriction>
		                </xs:simpleType>
		              </xs:element>
		              <xs:element name="unit" type="xs:float" />
		              <xs:element name="acutelyfatal" type="xs:float" />
		              <xs:element name="curedfraction" type="xs:float" />
		            </xs:sequence>
		          </xs:complexType>
		        </xs:element>
		      </xs:sequence>
		    </xs:complexType>
		  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
