inst/extdata/schemas/newborns.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="newborns">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sexratio" type="xs:float" />
        <xs:element name="startingYear">
          <xs:simpleType>
            <xs:restriction base="xs:int"/>
          </xs:simpleType>
        </xs:element>                
  	    <xs:element name="amounts" minOccurs="1" maxOccurs="1">
  	      <xs:complexType>
		    <xs:sequence>        
		        <xs:element minOccurs="0" maxOccurs="30" name="amount">
		          <xs:complexType>
		            <xs:sequence>
		              <xs:element name="year" type="xs:int" />
		              <xs:element name="number" type="xs:int" />
		            </xs:sequence>
		          </xs:complexType>
		        </xs:element>
		     </xs:sequence>
		   </xs:complexType>     
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
