inst/extdata/schemas/relrisksfromriskfactor_categorical.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="relrisksfromriskfactor_categorical">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="192" maxOccurs="9600" name="relativerisk">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="age">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="95" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="sex">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="cat">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                  <!-- Set from 1 to 0 for parameters configuration files. -->
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="50" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="value">
                <xs:simpleType>
                  <xs:restriction base="xs:float" />
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>