inst/extdata/schemas/riskfactorprevalences_continuous.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="riskfactorprevalences_continuous">
    <xs:complexType>
      <xs:sequence>
 	<xs:element minOccurs="1" maxOccurs="1" name="distributiontype">
 <xs:simpleType>
               <xs:restriction base="xs:string">
<xs:enumeration value="Normal"/>
<xs:enumeration value="Log normal"/>
</xs:restriction>
 </xs:simpleType>
</xs:element>
    <xs:element minOccurs="1" maxOccurs="1" name="prevalences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="192" maxOccurs="192" name="prevalence">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="age">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="95" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="sex">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="mean">
                <xs:simpleType>
                  <xs:restriction base="xs:float">
                    <xs:minInclusive value="0" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>  
              <xs:element name="standarddeviation" type="xs:float" />
              <xs:element name="skewness">
                <xs:simpleType>
                  <xs:restriction base="xs:float">
                    <xs:minInclusive value="0" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>                
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
   </xs:element>
</xs:schema>
