inst/extdata/schemas/transitionmatrix.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="transitionmatrix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="576" maxOccurs="5760000" name="transition">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="age">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="95" />
                    </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="sex">
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:enumeration value="0" />
                    <xs:enumeration value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="from" type="xs:int" />
              <xs:element name="to" type="xs:int" />
              <xs:element name="percent" type="xs:float" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
