inst/extdata/schemas/updateRuleConfiguration.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="updateRuleConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="charID" type="xs:int" />
        <xs:element name="nCat" type="xs:int" />
        <xs:element name="durationClass" type="xs:int" />
        <xs:element name="nullTransition" type="xs:int" />
        <xs:element name="transitionFile" type="xs:string" />
        <xs:element name="randomSeed" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>